APP_NAME=Libre Closet
AUTH_ENABLED=true
PWA_ENABLED=true
SUPPORTER_PROMPT_ENABLED=false
DISABLE_REGISTRATION=false
DATA_PATH=/data
DATABASE_TYPE=sqlite
DATABASE_SCHEMA=/data/sqlite3.db
FILE_STORAGE_TYPE=local
